{%extends "base/base.html"%}
<title>{% block title %}{{blogs}}{% endblock %}</title>
{% block content %}
<div>
    {%  if request.user not in blogs.sub.all  %}
    <form action="{% url 'blog:sub' blogs.pk %}" method="post" class="form">
        {% csrf_token %}
        <button type="submit">Подписаться</button></form>
    {% else %}
    <form action="{% url 'blog:unsub' blogs.pk %}" method="post" class="form">
        {% csrf_token %}
        <button type="submit">Отписаться</button></form>
    {% endif %}
</div>
{% for post in posts %}
<div style="border:3px #00B344  solid;">
    <h1><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h1>
    <p class="text-right ">Запись создана {{ post.created_at }}</p>
</div>
{% endfor %}
{% endblock %}
